<%- include("partials/header") -%>

<section id="overview">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-12 logo-column">
      <div class="patient-text-container">
        <img class="company-logo" src="images/logo.png" alt="logo-img" />
        <p class="logo-text1">Adtralza®</p>
        <p class="logo-text2">(tralokinumab)</p>

        <h5>
          Adtralza® is a new treatment for adult patients with
          moderate-to-severe atopic dermatitis (eczema) who are candidates for
          systematic therapy.
        </h5>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 col-12 gradient-column">
      <img class="patient-image" src="images/patient.png" alt="patient-img" />
    </div>
  </div>
</section>

<section class="grey-section" id="modeOfAction">
  <div class="row">
    <div class="col-lg-6">
      <img class="pills-image" src="images/pills.png" alt="pills-img" />
    </div>

    <div class="col-lg-6">
      <p class="information-headline">
        It is the first and only biologic developed to specifically neutralize
        IL-13, a key driver of atopic dermatitis signs and symptoms(1,2)
      </p>
      <br />

      <p>
        Learn more about how Adtralza® works and how to use it in treatment.
      </p>
    </div>
  </div>
</section>

<section class="white-section" id="efficacy">
  <div class="row justify-content-around">
    <div class="col-lg-3">
      <img class="circle-images" src="images/rating.png" alt="circle-img" />
      <p class="circle-headline">Long term sustained improvement</p>
      <p class="circle-paragraphs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illum
        velit consectetur autem obcaecati. Itaque assumenda ut dicta nemo!
        Corrupti autem facilis tenetur esse id velit mollitia quis! Eaque, ad!
      </p>
      <p class="circle-link">See efficacy and trial data</p>
    </div>
    <div class="col-lg-3">
      <img class="circle-images" src="images/health.png" alt="circle-img" />
      <p class="circle-headline">Improvements in the burden of disease</p>
      <p class="circle-paragraphs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illum
        velit consectetur autem obcaecati. Itaque assumenda ut dicta nemo!
        Corrupti autem facilis tenetur esse id velit mollitia quis! Eaque, ad!
      </p>
      <p class="circle-link">Learn more about quality of life improvements</p>
    </div>
    <div class="col-lg-3">
      <img class="circle-images" src="images/safety.png" alt="circle-img" />
      <p class="circle-headline">Good safety profile</p>
      <p class="circle-paragraphs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illum
        velit consectetur autem obcaecati. Itaque assumenda ut dicta nemo!
        Corrupti autem facilis tenetur esse id velit mollitia quis! Eaque, ad!
      </p>
      <p class="circle-link">See safety profile</p>
    </div>
  </div>
</section>

<section class="grey-section" id="qualityOfLife">
  <div class="row">
    <div class="col-lg-5">
      <p class="genetics-headline">
        Adtralza® neutralizes IL-13, a key driver of Atopic Dermatitis signs and
        symptoms.
      </p>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi corporis
        cum libero accusantium. Aliquam, eveniet odit. Voluptas, nemo
        architecto. Consectetur esse dolorem laudantium. Aut suscipit quaerat
        adipisci cumque culpa asperiores!
      </p>
      <br />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi corporis
        cum libero accusantium.
      </p>
      <br />

      <ul class="genetics-list">
        <li>– Reducing markers of skin inflammation</li>
        <li>– Improving markers of skin barrier integrity</li>
        <li>– Reducing epidermal thickness</li>
      </ul>

      <button class="genetics-button">Watch the video</button>
      <br />
      <br />
      <p>Duration: 2:43</p>
    </div>
    <div class="col-lg-7">
      <img
        src="images/genetics.png"
        class="genetics-image"
        alt="genetics-img"
      />
    </div>
  </div>
</section>

<section class="white-section" id="safety">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 col-5">
      <!-- change title name -->
      <p class="clinical-headline">Clinical tools - at a glance</p>
    </div>

    <div class="col-lg-5 col-md-5 col-5"></div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-5 grey-clinical">
      <img class="clinical-image" src="images/nurse.png" alt="injection-img" />

      <div class="clinical-box">
        <p class="information-headline">Dosing guide</p>
        <p class="clinical-paragraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
          veritatis. Quia, iste. Tenetur voluptatum error,
        </p>
        <p class="clinical-link">Learn more about application and dosing</p>
      </div>
    </div>
    <div class="col-lg-5 grey-clinical">
      <img
        class="clinical-image"
        src="images/injection.png"
        alt="injection-img"
      />

      <div class="clinical-box">
        <p class="information-headline">Patient injection made simple</p>
        <p class="clinical-paragraph">
          amet dicta, odio vitae reprehenderit, sequi provident modi pariatur
          perspiciatis fuga necessitatibus aspernatur. Ad, eligendi!
        </p>
        <p class="clinical-link">Watch the video</p>
      </div>
    </div>
  </div>
</section>

<section class="grey-section" id="news">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-12 col-12">
      <p class="videos-headline">Kol Videos - get expert insights here</p>
      <p>
        amet dicta, odio vitae reprehenderit, sequi provident modi amet dicta,
        odio vitae reprehenderit, sequi provident modi pariatur perspiciatis
        fuga necessitatibus aspernatur. Ad, eligendi!
      </p>
    </div>

    <div class="col-lg-5 col-md-12 col-12">
      <p class="information-headline">Baking Machine</p>

      <video width="320" height="200" controls>
        <source src="video/video.mov" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <p class="video-paragraph">
        amet dicta, odio vitae reprehenderit, sequi provident modi amet dicta,
        odio vitae reprehenderit, sequi provident
      </p>
    </div>
  </div>
</section>

<section class="references">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 col-5">
      <button id="referenceButton" class="references-button">
        <i id="referenceSymbol" class="fas fa-angle-down"></i>
      </button>
      <p class="references-paragraph">References</p>

      <div id="referencePages">
        <a href="https://www.google.com/" class="reference-links">Google.dk</a>
        <a href="https://www.google.com/" class="reference-links">Google.dk</a>
        <a href="https://www.google.com/" class="reference-links">Google.dk</a>
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-5"></div>
  </div>
</section>

<%- include("partials/footer") -%>
